* {
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: nowrap;
}

html, body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
}

.back1 {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(86, 86, 255);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.box {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 50%;
    margin-top: -5%;
    background-color: rgb(248, 248, 246);
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    padding: 15px;
    box-sizing: border-box;
}

.bar {
    display: flex;
    background-color: black;
    min-width: 150px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 16px rgb(35, 112, 255);
}

.bar > h1 {
    color: rgb(4, 142, 255);
    font-size: 24px;
    flex-basis: 90%;
    margin-left: 10px;
}

.bar > button {
    width: 80px;
    height: 35px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info > h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bolder;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    max-height: 90%;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.new_task {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}

.new_task > button {
    width: 20%;
    height: 40%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border: none;
    text-wrap: nowrap;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 25px;
    background-color: rgb(86, 86, 255);
}

.tasks, .removed_tasks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 6px;
    box-sizing: border-box;
}

.task {
    display: flex;
    width: 80%;
    min-height: 25%;
    background-color: rgb(128, 179, 255);
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
}

.task > img {
    width: auto;
    height: auto;
    align-self: center;
    margin-right: 10px;
    cursor: pointer;
}

.task > h1 {
    flex-basis: 90%;
    margin-left: 15px;
}

.resto {
    display: inline;
    align-self: center;
    margin-top: -5px;
    margin-bottom: -2%;
}

.task > h1 {
    color: white;
    align-self: center;
    text-wrap: nowrap;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-top: -6vh;
    z-index: 2;
}

.menu > p {
    color: rgb(136, 136, 136);
    flex-basis: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.selected {
    color: black !important;
    display: block;
}

.active_tab, .finished_tab {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.finished_tab {
    display: none;
}

.footer {
    /* */
}

.clear {
    font-size: 16px;
    border-bottom: 1px solid black;

    cursor: pointer;
}

footer > p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

/* custom scroll-bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0); 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media (max-width: 1200px) {
    .box { 
        width: 70%;
    }
}

@media (max-width: 480px) {
    .box {
        width: 90%;
    }

    .menu {
        width: 100%;
    }
 
    .new_task > button {
        width: 40%;
        margin-top: -5%;
    }
}

@media (max-height: 740px) {
    .box {
        height: 60%;
    }

    .tasks, .removed_tasks {
        height: 45%;
        margin-bottom: 25%;
    }

    .menu {
        width: 80%;
        margin-top: -10vh;
        margin-bottom: 5%;
    }

    .info {
        margin-bottom: -10%;
    }
}